.main_body {
  background-image: url('https://images4.alphacoders.com/936/936378.jpg');
  background-size: cover;
  margin-top: -40px;
  height: 100vh;
}

.main_h1 {
  color: white;
  font-family: monoton;
  font-size: 60px;
  animation-name: example;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  font-weight: normal;
  margin-left: 20px;
  padding-top: 20px;
}

@keyframes example {
  0% {
    color: chartreuse;
  }

  25% {
    color: aqua;
  }

  50% {
    color: deepskyblue;
  }

  75% {
    color: orange;
  }

  100% {
    color: yellow;
  }
}

.main {
  text-align: center;
  height: 355px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  padding-top: 45px;
  border: 5px solid wheat;
  border-radius: 0px 80px;
}

.main:hover {
  border-radius: 80px 0px;
}

.main_p {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.s1 {
  color: aqua;
}

.s2 {
  color: springgreen;
  text-decoration: line-through;
}

.s3 {
  color: red;
  padding: 0px 8px 5px;
  border-radius: 5px;
  background-color: yellow;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.b {
  width: 220px;
  height: 50px;
  border: groove;
  box-shadow: 10px 10px 15px #36454F;
  font-size: large;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.b:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.b:active {
  color: #000;
  font-weight: bold;
}

.b:active:after {
  background: transparent;
}

.b:hover:before {
  opacity: 1;
}

.b:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}